.section {
    margin-top: var(--s-xl);
}

.playerInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: self-start;
    gap: 20px;
    margin-top: 24px;
}


.orgName {
    text-decoration: underline;
}
