/* TODO: use defined font-size set variables */

.h1,
.h2,
.h3,
.h4 {
    font-weight: 900;
}

.h1 {
    font-size: var(--f-xxxl);
}

.h2 {
    font-size: var(--f-xxl);
}

.h3 {
    font-size: var(--f-xl);
}

.h4 {
    font-size: var(--f-l);
}
