.orgInfo {
    display: flex;
    row-gap: 6px;
    flex-wrap: wrap;
}

@media (min-width: 900px) {
    .orgInfo {
        flex-wrap: wrap;
    }
}

.orgInfoItem {
    margin-right: 12px;
    border: 1px solid var(--c-border);
    border-radius: 9px;
    padding-right: 6px;
    padding-left: 6px;
    text-wrap: nowrap;
}

@media (min-width: 900px) {
    .orgInfoItem {
        margin-right: 12px;
        padding-right: 6px;
        padding-left: 6px;
    }
}
