.button {
    border: 1px solid black;
    border-radius: 16px;
    background: black;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    color: white;
}
